:root {
  --background-color: #110022;
  --primary-color: #66ccff;
  --secondary-color: #0066cc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


li.navbar-brand:hover {
  color: var(--primary) !important;
}


.navbar-brand {
  background-color: var(--tertiary);
  color: var(--primary) !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: clamp(15px, 2vw, 30px);
  font-family: var(--title) !important;
}

.navbar li {
  list-style-type: none;
  cursor: pointer;
  font-family: var(--header);
}

.navbar li:hover {
  color: var(--tertiary) !important;
}

a {
  text-decoration: none;
  color: var(--tertiary);
}

a:hover {
 color: var(--tertiary);
}

.btn-primary {
  background-color: var(--tertiary) !important;
  border: none !important;
}

h1 {
  color: var(--tertiary);
}